<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>About</title>
    <link href="../static/css/stylesheet.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <div th:insert="base :: bootstrap"></div>

</head>
<body>
<div class="header">
    <h1 style="font-family: monospace;"><a
            href="http://localhost:63342/demo/templates/home.html?_ijt=839s68jttijdinresbd881be1u"
            class="logo">
        <b>Home</b></a>
    </h1>
</div>
<!---->
<!--<h1 style="color: white" align="center" style=" font-family: 'Franklin Gothic Demi Cond'">About Java Web Developer Boot Camp</h1>-->
<h1>About Java Web Developer Boot Camp</h1>


<h1 align="center"></h1>

<div class="container">

    <div class="list-group">


    </div>
    <p>The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week, immersive software
        engineering program funded by the Department of Labor. This course aims to increase the number of
        skilled software developers in this country. We do this by accepting qualified candidates who cannot
        afford the cost of a coding boot camp. If accepted into the program all fees will be covered by the
        program.</p>
    <P>The Java Web Development Bootcamp takes you from your first java program to developing a web application.
        This course will give you a fast start on your career so you can take it to the next level. The course
        will teach you by forcing you to write over 130 java applications, including 5 major web applications.
        Programming challenges will keep you on your toes.</P>
    <p>You'll learn to create web pages. You'll use frameworks and stored procedures. You'll connect to a
        database using the Java Persistence API(JPA) and Hibernate, and most importantly, all assignments are
        submitted through git, so you will learn to develop using best practices in class, to make it easy to
        contribute value when you are on the job.</p>
    <p>The bootcamp is for programmers with a basic understanding of an object oriented language: Java, C#,
        VB.NET, Python, PHP, Ruby or C++. You do not need experience developing web applications.</p>
    <P></P>

</div>


</div>
<h3></h3>
<div th:insert="base :: script"></div>
</body>
</html>