<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="header">
    <h1 style="font-family: monospace;"><a
            href="http://localhost:63342/demo/templates/home.html?_ijt=839s68jttijdinresbd881be1u"
            class="logo">
        <b>Home</b></a>
    </h1>

</div>

<img src="https://res.cloudinary.com/daq1bxdgk/image/upload/v1562945178/1200px-Java_programming_language_logo.svg_raosnr.png"/>

<h1 align="center">Core Java</h1>
<h2>
    Inheritance
</h2>
<p>
    Inheritance in Java is a mechanism in which one object acquires all the properties and behaviors of a parent object. It is an important part of OOPs (Object Oriented programming system).
    The idea behind inheritance in Java is that you can create new classes that are built upon existing classes.
</p>
<br/>
<h3>
    Composition
</h3>
<p>
    Java composition is achieved by using instance variables that refers to other objects.
</p>
<div class="footer">
    <h1 align="center" >(...);</h1>
    <h3 style="font-family: monospace" ;>Website by Bk & Ansu</h3>
</div>
</body>
</html>