<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ProgramDesign</title>
    <div th:fragment="bootstrap">
        <link href="../static/css/stylesheet.css" rel="stylesheet" type="text/css">
    </div>

</head>
<body>

<div class="header">
    <h1 style="font-family: monospace;"><a
            href="http://localhost:63342/demo/templates/home.html?_ijt=839s68jttijdinresbd881be1u"
            class="logo">
        <b>Home</b></a>
    </h1>
</div>

<h1 align="center">Program Design & Algorithms</h1>
<!--<-->
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://res.cloudinary.com/daq1bxdgk/image/upload/v1562945130/2-site-breakdown_yapvja.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Program Design</h5>
        <p class="card-text">Program design is both a verb and a noun. It is the process that organizations use to develop a program. Ideally, the process is collaborative, iterative, and tentative—stakeholders work together to repeat, review,
            and refine a program until they believe it will consistently achieve its purpose.</p>
        <!--<a href="#" class="btn btn-primary"></a>-->
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://res.cloudinary.com/daq1bxdgk/image/upload/v1562954393/algorithms-featured_kv7zod.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Algorithms</h5>
        <p class="card-text">a process or set of rules to be followed in calculations or other problem-solving operations, especially by a computer.</p>
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
</div>
<div class="footer">
    <h1 align="center" >(...);</h1>
    <h3 style="font-family: monospace" ;>Website by Bk & Ansu</h3>
</div>
</body>
</html>