<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <h1 style="font-family: monospace;"><a
            href="http://localhost:63342/demo/templates/home.html?_ijt=839s68jttijdinresbd881be1u"
            class="logo">
        <b>Home</b></a>
    </h1>
</div>
<!---->
<h1 align="center">Github</h1>
<img src="https://res.cloudinary.com/daq1bxdgk/image/upload/v1562945034/288981919427_f45f04edd92902a96859_512_efvbh7.png"/>

<div class="container">
    <p>
        GitHub is a Git repository hosting service, but it adds many of its own features. While Git is a command line tool, GitHub provides a Web-based graphical interface.
        It also provides access control and several collaboration features, such as a wikis and basic task management tools for every project.
    </p>
</div>
<div class="footer">
    <h1 align="center" >(...);</h1>
    <h3 style="font-family: monospace" ;>Website by Bk & Ansu</h3>
</div>

</div>
</body>
</html>>