<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML</title>
    <link href="../static/css/stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="header">
    <h1 style="font-family: monospace;"><a
            href="http://localhost:63342/demo/templates/home.html?_ijt=839s68jttijdinresbd881be1u"
            class="logo">
        <b>Home</b></a>
    </h1>
</div>
<h1 align="center">HTML</h1>

<img src="https://res.cloudinary.com/daq1bxdgk/image/upload/v1562945153/1200px-HTML5_logo_and_wordmark.svg_uliyaa.png"/>

<p>HTML is the standard markup language for creating Web pages. HTML stands for Hyper Text Markup Language.
    HTML describes the structure of a Web page.</p>
</h1>
<div class="footer">
    <h1 align="center" >(...);</h1>
    <h3 style="font-family: monospace" ;>Website by Bk & Ansu</h3>
</div>
</body>
</html>